---
import HtmlLogo from "./icons/HtmlLogo.astro";
import CSSLogo from "./icons/CSS.astro";
import JS from "./icons/JS.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import GitHub from "./icons/GitHub.astro";
import PHP from "./icons/PHP.astro";
import MySQL from "./icons/MySQL.astro";
import Link from "./icons/Link.astro";
import BadgeProject from "./BadgeProject.astro";

const techIcons = {
  HTML: { icon: HtmlLogo, class: "bg-orange-300/90", label: "HTML" },
  CSS: { icon: CSSLogo, class: "bg-blue-400/90", label: "CSS" },
  JavaScript: { icon: JS, class: "bg-yellow-300/70", label: "JavaScript" },
  Bootstrap: { icon: Bootstrap, class: "bg-purple-300", label: "Bootstrap" },
  PHP: { icon: PHP, class: "bg-purple-500", label: "PHP" },
  MySQL: { icon: MySQL, class: "bg-blue-200/70", label: "MySQL" },
};

const projects = [
  {
    image: "/img/proyecto5.webp",
    badge: "Proyecto Laboral",
    title:
      "Sistema Web de Administración de Servicios y Documentos de la Empresa",
    tech: ["HTML", "CSS", "JavaScript", "Bootstrap", "PHP", "MySQL"],
    description: [
      "Sistema Web que administra los servicio y documentos generados por las franquicias de la empresa.",
      "Cuenta con un panel de administración para gestionar los servicios y ranquicias, también cuenta con roles para la franquicia, técnico y recepcionista que realizan el servicio.",
    ],
    link: {
      url: "https://safetravel.lat/documentos_csa/index.html",
      label: "Ver en línea",
      icon: Link,
    },
  },
  {
    image: "/img/proyecto4.webp",
    badge: "Proyecto Laboral",
    title: "Sistema Web de Servicios Para Reparaciones Mecánicas Automotrices",
    tech: ["HTML", "CSS", "JavaScript", "Bootstrap", "PHP", "MySQL"],
    description: [
      "Sistema Web que contiene los servicios de Blog, Agendar Citas, Venta/Compra de autos, y Venta de Seguros.",
    ],
    link: {
      url: "https://safetravel.lat/SISTEMA_WEB/index.html",
      label: "Ver en línea",
      icon: Link,
    },
  },
  {
    image: "/img/proyecto1.webp",
    badge: "Proyecto Universitario",
    title:
      "Renta de Libros Móvil - Desafío con uso del localStorage con JavaScript",
    tech: ["HTML", "CSS", "JavaScript", "Bootstrap"],
    description: [
      "Aplicación Movil que realiza conexión con LocalStorage para realizar almacenamiento de registros.",
    ],
    link: {
      url: "https://github.com/DavidGalindo21/CordovaProject_BookShop_App",
      label: "Ver código fuente",
      icon: GitHub,
    },
  },
  {
    image: "/img/proyecto2.webp",
    badge: "Proyecto Universitario",
    title: "Pizzería WEBPIZZ",
    tech: ["HTML", "CSS", "JavaScript", "Bootstrap", "PHP", "MySQL"],
    description: [
      "Sitio web para Pizzería, con registro de usuarios y manejo de CRUD usando MySQL.",
    ],
    link: {
      url: "https://github.com/DavidGalindo21/Proyecto_Final_Aplicaciones",
      label: "Ver código fuente",
      icon: GitHub,
    },
  },
  {
    image: "/img/proyecto3.webp",
    badge: "Proyecto Universitario",
    title: "Renta de Libros - Desafío con base de datos SQL y PHP",
    tech: ["HTML", "CSS", "JavaScript", "Bootstrap", "PHP", "MySQL"],
    description: [
      "Sitio web para Librería, con registro de usuarios y manejo de CRUD para rentas de libros usando MySQL, uso de manejo de sesiones y encriptación de contraseñas.",
    ],
    link: {
      url: "https://github.com/DavidGalindo21/rentas_libros_proyect",
      label: "Ver código fuente",
      icon: GitHub,
    },
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    projects.map((project) => (
      <article class="flex items-center flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl">
            <img
              alt="Imagen de mis proyectos"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              src={project.image}
              loading="lazy"
            />
            <BadgeProject>{project.badge}</BadgeProject>
          </div>
        </div>
        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-yellow-400">{project.title}</h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-wrap md:flex-nowrap mb-2 gap-x-2">
              {project.tech.map((tech) => {
                const Icon = techIcons[tech].icon;
                return (
                  <li>
                    <span
                      class={`flex gap-x-2 rounded-full text-xs ${techIcons[tech].class} text-white py-1 px-2 my-2`}
                    >
                      <Icon class="size-4" />
                      {techIcons[tech].label}
                    </span>
                  </li>
                );
              })}
            </ul>
            <div class="mt-2 text-gray-600 dark:text-gray-200">
              {project.description.map((line) => (
                <p>{line}</p>
              ))}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              <a
                class="bg-white/5
                            dark:text-white dark:hover:text-gray-950
                                    border border-gray-300 text-dark
                                    rounded-full
                                    inline-flex justify-center items-center gap-x-2
                                    py-1 px-2 md:py-2 md:px-4
                                    transition
                                    hover:scale-110 hover:bg-gray-300"
                target="_blank"
                href={project.link.url}
              >
                <project.link.icon class="size-7" />
                {project.link.label}
              </a>
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
